* {
    -webkit-text-size-adjust : none;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    margin  : 0;
    padding : 0;
}

a {
    color : #369;
}

img {
    border : 0px;
}

#header {
    width : 100%;

    #logo {
        background-image : url("arrow_a.png");
        background-repeat : no-repeat;
        background-position : 10px center;

        border-bottom : 1px solid gray;
        font-family: 'Droid Serif','Georgia',serif;
        font-size: 1.6em;
        font-weight: bold;
        padding-left : 45px;
        padding-top : 5px;
        text-shadow: 0 5px 5px #E6EBE0;
    }
}

ul.day-list {
    list-style : none;
    overflow : auto;
    border-bottom : 1px solid gray;

    li {
        float : left;
        border-right : 1px solid gray;
        font-size : 0.9em;
        width : 33%;
        text-align : center;
        font-weight : bold;

        &:last-child {
            border-right : none;
        }

        a {
            display : block;
            padding : 10px;
            color : #369;
            text-decoration : none;
        }

    }
}

#contents {
    width : 100%;

    div.talk {
        ul {
            list-style : none;
            overflow : auto;
            border-bottom : 1px solid gray;

            li {
                font-size : 0.9em;
                display : block;
                width : 100%;

                div {
                    margin : 10px;

                    &.start_at {
                        font-weight : bold;
                        border-bottom : 1px dotted gray;
                    }

                    &.title {
                        font-size : 1em;
                        margin-left : 20px;
                    }

                    &.title div:first-child {
                        color : #369;
                    }

                    &.title div:last-child {
                        font-weight : bold;
                    }

                    &.summary {
                        margin : 20px;
                        padding : 5px;
                        border : 1px solid gray;
                    }
                }
            }
        }
    }
}

#footer {
    width : 100%;
    text-align : center;

    .credit {
        margin-top : 15px;
        padding-top : 15px;
    }
}

